apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: rm-workspace
spec:
  workspaces:
    - name: project-dir
      description: A workspace for the task
      optional: true
      mountPath: /mnt/workspace
  steps:
    - name: list-workspace
      image: quay.io/centos/centos:latest
      workingDir: $(workspaces.project-dir.path)
      command:
        - sh
        - -c
      args:
        - rm -rf * && rm -rf .git && rm -rf .argocd && rm -rf .mvn && rm -rf .gitignore && rm -rf .dockerignore
        - ls -la
